* {
  box-sizing: border-box;
  --dark-sky-blue: #93b7beff;
  --dark-liver: #554348ff;
  --light-cyan: #d4f5f5ff;
  --cadet-grey: #8c9a9eff;
  --sonic-silver: #747578ff;
  --light-slate-gray: #77878bff;
  --dark-slate-gray: #305252ff;
  --onyx: #373e40ff;
  --steel-teal: #488286ff;
  --opal: #b7d5d4ff;
}

body {
  background-color: var(--opal);
}

body,
button,
input,
pre,
textarea {
  font-family: 'Nunito', sans-serif;
}

input[type='radio'] {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.rb + label {
  cursor: pointer;
  color: var(--dark-slate-gray);
}

.rb:checked + label {
  padding: 0.5rem;
  background-color: var(--light-slate-gray);
  color: white;
}

li {
  list-style: none;
  border-radius: 5px;
  font-size: 12px;
  height: 5rem;
  background-color: var(--dark-slate-gray);
  color: white;
  width: 100%;
}

header {
  text-align: center;
}

aside {
  border: 2px dotted var(--onyx);
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: var(--cadet-grey);
}

input[type='url'] {
  width: 96%;
}

button {
  margin: 2rem;
  background-color: var(--dark-slate-gray);
  color: white;
  padding: 0.5rem;
  width: 5rem;
}

textarea {
  width: 96%;
}

h2 {
  text-align: center;
}

.entireContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
  height: 100vh;
  margin: 10px;
}

.buttons {
  justify-content: space-around;
  width: 100%;
}

.resultsContainer {
  display: flex;
  flex-wrap: wrap;
}

.controlsContainer {
  border: 2px dotted var(--onyx);
  height: 40%;
  margin-bottom: 5px;
  background-color: var(--cadet-grey);
  text-align: center;
}

.displayContainer {
  border: 2px dotted var(--onyx);
  height: 60%;
  background-color: var(--cadet-grey);
  overflow: scroll;
}
